.app-main {
  height: 1000px;
}

.header {
    height: 100%;
    min-height: 600px;
    background: url(header.jpg) no-repeat center center fixed;
    background-size: cover;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.custom-navbar {
  min-height: 70px;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  margin: auto;
  width: 95%;
  max-width: 1050px;
  border: 1px solid rgba(234, 240, 252, 0.15);
  border-radius: 0.2rem;
  z-index: 9999;
  -webkit-transition: all, 0.33s;
  transition: all, 0.33s;
  padding: 10px, 10px, 10px, 10px;
}

.custom-navbar-affix {
  position: fixed;
  width: 100%;
  max-width: 100%;
  background: #fff;
  -webkit-animation-name: affix;
  animation-name: affix;
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  top: 0;
  border-radius: 0;
  border-bottom: 1px solid #eaf0fc;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}